/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 1199px){

	.first_screen{
		min-height: 530px;
	}

}

@media only screen and (max-width: 991px) {

	body{min-width:768px;}

	.navigation>li:not(:last-child){
		padding-right: 30px;
	}

	.slider_title{
		font-size: 70px;
		line-height: 1;
		margin-bottom: 30px;
	}

	.first_screen_subtitle{
		font-size: 40px;
		line-height: 1;
	}

	.owl-nav>div.owl-prev{
		left: 20px;
	}

	.owl-nav>div.owl-next{
		right: 20px;
	}

	.project_btn{
		font-size: 20px;
	}


}

@media only screen and (max-width: 767px) {

	body{min-width:420px;}

	[class*='col-']:not(:last-child){
		margin-bottom: 30px;
	}

	.section_offset{
		padding: 55px 0;
	}

	.blackout{
		padding: 70px 0;
	}

	.blackout2{
		padding: 90px 0;
	}

	.slider_title{
		font-size: 50px;
	}

	.first_screen_subtitle{
		font-size: 30px;
	}

	.btn{
		font-size: 20px;
	}

	.subtitle{
		font-size: 20px;
		line-height: 26px;
	}

	h2{
		font-size: 40px;
	}

	.icon_box_title{
		font-size: 20px;
		margin-bottom: 8px;
	}

	.blackout[class*='bg'],.blackout2[class*='bg']{
		background-position: 50% 0 !important;
		background-attachment: scroll;
	}

	nav{
		position: fixed;
		z-index: 9;
		width: 200px;
		top: 50px;
		bottom: 0;
		background-color: rgba(32,32,32,0.85);
		border-top: 1px solid #0066cc;
		right: -200px;
		text-align: left;
		padding: 0 20px 20px;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	nav.open_menu{
		right: 0;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.nav_btn{
		display: block;
	}

	.navigation{
		display: block;
	}

	.navigation>li{
		float: none;
	}

	.navigation>li:not(:last-child){
		padding-right: 0;
	}

	.main_slider .slides li{
		padding-bottom: 50px !important;
		padding: 0 20px;
	}

	.owl-nav>div.owl-prev{
		left: 30px;
	}

	.owl-nav>div.owl-next{
		right: 30px;
	}

	.owl-nav > div:before{
		width: 20px;
		height: 20px;
	}

	.flex-direction-nav a::before{
		width: 20px;
		height: 20px;
	}

	.flexslider:hover .flex-direction-nav .flex-prev{
		left: 10px;
	}

	.flexslider:hover .flex-direction-nav .flex-next{
		right: 10px;
	}

	.icon_box{
		text-align: center;
		padding: 0 100px;
		margin-top: 30px;
	}

	.icon_box .icon{
		position: relative;
		left: initial;
		display: inline-block;
		margin-bottom: 5px;
	}

	.partner_list{padding-top: 0;}

	.contact_title1{
		font-size: 50px;
	}

	.latest_img{
		display: none;
	}

	.project_box{
		margin-bottom: 0;
	}

	.project_box img{
		width: 100%;
	}

	.latest_box .title1{
		font-size: 50px;
	}

	.team_slider{margin: 0;}

	.owl-dots{
		bottom: -10px;
	}

}

@media only screen and (max-width: 479px) {

	body{min-width:300px;}

	.blackout{
		padding: 55px 0;
	}

	.slider_title{
		font-size: 35px;
	}

	.first_screen_subtitle{
		font-size: 20px;
	}

	.btn,
	.subtitle{
		font-size: 18px;
	}

	h2{
		font-size: 30px;
	}

	.icon_box{
		margin-top: 10px;
	}

	.contact_title1{
		font-size: 30px;
	}

	.project_box{margin-bottom: 20px;}

	.latest_box .title1{
		font-size: 30px;
	}

	.copyright{
		white-space: normal;
	}

}